<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <center>
            <h3>Look I'm a Header</h3>
        </center>
    </div>
</nav>